html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-aos] {
  visibility: hidden;
}


[data-aos].animated {
  visibility: visible;
}
