.main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.main > img{
  width: 50%;
  margin-top: -100px;
}

.riseToTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .riseToTop  img {
  margin-left: -70px;
} */
.slateDesc[data-aos] {
  visibility: hidden;
}
.slateDesc[data-aos].animated {
  visibility: visible;
}

.slateDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.slateDesc > img {
  margin-left: -80px;
}

.slateContent{
  margin-top: -100px;
}

.courses {
  margin: 20px auto;
  width:1200px;
  height:800px;
  display:grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 300px 300px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.courses > div {
  overflow: hidden;
  padding:20px;
  border-radius:10px;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:sans-serif;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
}

.courses > .physics {
  background-color: #C4E0E9;
  color: #FA6C32;
  position: relative;
}

.courses > .physics > img {
  position: absolute;
}

.phy1 {
  right: -100px;
  top: 80px;
}
.phy2 {
  left: 0px;
  top: 150px;
}
.phy3 {
  left: 50px;
  top: -100px;
}

.courses > .biology {
  background-color: #F3B62D;
  color: #169772;
  position: relative;
}

.courses > .biology > img {
  position: absolute;
}

.bio1 {
  left: 200px;
  top: 180px;
}
.bio2 {
  right: 0px;
  top: -100px;
}
.bio3 {
  left: -50px;
  top: 50px;
}


.courses > .maths {
  background-color: #323232;
  color: #28D0E7;
  position: relative;
}

.courses > .maths > img {
  position: absolute;
}

.math1 {
  right: -100px;
  top: 50px;
}
.math2 {
  left: 0px;
  top:-100px;
}
.math3 {
  left: 200px;
  top: 180px;
}

.courses > .chemistry {
  background-color: #F3F58B;
  position: relative;
  color: #8E00D0;
}

.courses > .chemistry > img {
  position: absolute;
}

.chem1 {
  left: -50px;
  top: 50px;
}
.chem2 {
  right: -50px;
  top: 50px;
}
.chem3 {
  left: 150px;
  top: -20px;
}